{{#partial "content"}}
    <div class="align">
        <h1>Wildlife tracker</h1>
        <p>Animals are, like us, endangered species on an endangered planet, and we are the ones who are endangering them, it, ourselver.
            They are innocent suffers in a hell of our making.</p>
    </div>



{{/partial}}

{{> layout.hbs}}